<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D3 charts</title>
    <script src="static/adchart.js" charset="utf-8"></script>
    <script src="static/viva.js" charset="utf-8"></script>
  </head>
  <body>
    <p>do some magic with d3</p>

    <p>work on pure css and create a ui component for showcasing the charts made</p>

    
  </body>
</html>
