<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Viva la vida</title>
</head>
<style media="screen">
  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis--x path {
    display: none;
  }

  /*css for scatter chart*/
  .circle{
    fill: green;
  }
</style>

<body>
  <p>if green then d3 is working</p>
  <div class="vivaGraph">

  </div>
  <div class="scatterGraph">

  </div>
</body>

</html>
